*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

section{
    min-height: 99vh;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    border: 2px solid red;
    overflow: hidden;
    display: none;
}

.uno{
    display: flex;
}

h1{
    font-size: 34px;
    color: red;
    margin: 14px 2px;
}

img{
    width: 150%;
    max-width: 500px;
    position: absolute;
    bottom: 30px;
    left: 0px;    
}

.Titulo{
    padding: 12px;
    font-size: 21px;
}
.formulario{
    position: absolute;
    z-index: 100;
    bottom: 0px;
    font-size: 21px;
    background-color: black;
    color: white;
    width: 100%;
    padding: 24px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
input{
    font-size: 19px;
    border-radius: 8px;
}

button{
    font-size: 21px;
    padding: 6px 12px;
    background-color: green;
    color: white;
    border-radius: 14px;
    margin: 12px 2px;
}

.no{
    background-color: red;
}

.opciones{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    margin-top: 24px;
}
